[submodule "backend/active_file"]
	path = backend/active_file
	url = git://github.com/jianingy/active_file.git
[submodule "backend/acts_as_org"]
	path = backend/acts_as_org
	url = git://github.com/jianingy/acts_as_org.git
[submodule "themes"]
	path = themes
	url = git://github.com/jianingy/blorgit_themes.git
